#content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: row;


}

#search {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    height: 10%;
    flex-direction: row;
}

.flip-card {
    background-color: white;
    width: 300px;
    height: 400px;
    perspective: 1000px;
    padding: 5px;


    /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.315);

}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #black;
    color: black;

}

/* Style the back side */
.flip-card-back {
    background-color: rgb(7, 184, 166);
    color: black;
    transform: rotateY(180deg);

}

.backTitle {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    font-size: 30px;
    padding: 50px 15px 20px 15px;
    color: white;


}




.backDescription {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.3;
    padding: 15px;
    color: white;

}

.texto {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding: 5px;
}

#bookDescription {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 30px;

}

input {
    width: 15em;
    height: 3em;
    margin: 10px;
}

.button {
    width: 10em;
    height: 2em;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 167, 152);
}